<!DOCTYPE html>
<html>
<title>Pokój gry - Thesis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>

<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-large">
        <p class="w3-rightbar w3-leftbar w3-padding">Thesis</p>
    </div>
    <div class="w3-display-topright w3-padding-large w3-large">
        <p>
            <span class="w3-rightbar w3-leftbar w3-padding">
                <i class="fa fa-user-circle w3-margin-right"></i>
                <%= user.email %>
            </span>
            <a href="/" class="w3-rightbar  w3-padding">Strona główna</a>
            <a href="/logout" class="w3-rightbar w3-padding">Wyloguj się</a>
        </p>
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-center"><%= room.name %></h1>
        <hr class="w3-border-grey" style="margin:auto;width:70%">
        <h2 class="w3-animate-top w3-center">Numer gry:
            <% if(room.id != undefined){ %>
            <%= room.id %>
            <% } %>
        </h2>
        <div class="w3-medium w3-center">
            <p>Aby pobrać aplikację należy na urządzeniu z systemem android wpisać w przeglądarkę następujący adres:</p>
                <b class="w3-large">pollub-boardgame.herokuapp.com/apk</b>
            <p>a następnie zainstalować pobraną aplikację.</p>
            <p>Jeśli aplikacja została już zainstalowana, otwórz ją i dołącz do pokoju, a następnie wykorzystaj poniższy przycisk <i>Odśwież</i>.</p>
        </div>
        <% if(room.players != undefined && room.players.length > 0) { %>
        <p class="w3-large w3-center">Podłączeni gracze:</p>
        <div class="w3-panel w3-rightbar w3-leftbar">
            <ul class="w3-ul  w3-card-4">
                <% room.players.forEach(function(player) { %>
                <li class="w3-display-container">
                    <%= player.in_room_id + 1 + ". " + player.name %>, <%= player.device_name%>
                </li>
                <% }); %>
            </ul>
        </div>
        <% } %>
        <p class="w3-center">
            <a class="w3-button w3-border w3-round-large" onClick="window.location.reload()">Odśwież</a>
            <% if(room.players.length > 1) { %>
                <a href="/board/<%=room.id%>" class="w3-button w3-border w3-round-large">Rozpocznij grę</a>
            <% } %>
        </p>
    </div>
</div>
</body>
</html>
