<!DOCTYPE html>
<html>
<head id=<%= id %>></head>
<title>Quiz - Thesis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../../js/quiz/basic_question.js"></script>
<style>
    body, h1 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('/assets/pictures/quiz/bg.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }

    .w3-border {
        border-color: darkgray !important;
    }
</style>
<body>
<span id="numberOfPlayers"><%= players.length %></span>
<script>document.getElementById("numberOfPlayers").style.display = "none";</script>
<div class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-topleft w3-padding-large">
        <span class="w3-xxlarge">Quiz</span><br>
        <span class="w3-xlarge">Game room: </span><span class="w3-xxlarge"><%= id %></span>
        <ul class="w3-large" id="playerList">
            <% players.forEach( function(player, index) { %>
            <li><%= player.name %> <span class="w3-margin-left w3-spin fa fa-spinner" id="spin_icon<%= index %>"></span>
                <span style="color:green;" class="w3-margin-left w3-animate-top fa fa-check-circle-o"
                      id="ok_icon<%= index %>"></span>
                <span style="color:red;" class="w3-margin-left w3-animate-top fa fa-times-circle"
                      id="no_answer_icon<%= index %>"></span>
            </li>
            <script>
                document.getElementById("ok_icon<%= index %>").style.display = "none";
                document.getElementById("no_answer_icon<%= index %>").style.display = "none";
            </script>
            <% }); %>
        </ul>
    </div>
    <div class="w3-display-middle w3-center">
        <div id="questionDiv">
            <h1 class="w3-xxlarge w3-animate-top w3-center" id="questionContent"></h1>
            <hr class="w3-border-grey" style="margin:auto;width:100%;border-color:darkgrey!important;">
            <div class="w3-xlarge">
                <div class="w3-half w3-container">
                    <p class="w3-border w3-padding w3-display-container">
                        <b style="color: goldenrod;">A.</b><span id="answerA"></span>
                    </p>
                </div>
                <div class="w3-half w3-container">
                    <p class="w3-border w3-padding w3-display-container">
                        <b style="color: goldenrod;">B.</b><span id="answerB"></span>
                    </p>
                </div>
                <div class="w3-half w3-container">
                    <p class="w3-border w3-padding w3-display-container">
                        <b style="color: goldenrod;">C.</b><span id="answerC"></span>
                    </p>
                </div>
                <div class="w3-half w3-container">
                    <p class="w3-border w3-padding w3-display-container">
                        <b style="color: goldenrod;">D.</b><span id="answerD"></span>
                    </p>
                </div>
            </div>
        </div>
        <script>document.getElementById('questionDiv').style.display = 'none'</script>
        <span id="progressBarFragment">
            <progress class="w3-round" value="0" max="20" id="progressBar"></progress>
            <br>
            <span class="w3-xxlarge" id="timeValue">20</span>
        </span>
        <script>document.getElementById("progressBarFragment").style.display = 'none'</script>
        <p id="loadingFragment">
            <span class="w3-large" id="loadingFragmentText">Ładowanie pytania</span><span
                    class="w3-xlarge w3-spin w3-margin-left fa fa-spinner"></span>
        </p>
        <p class="w3-animate-top" id="emptyWinners">
            <span class="w3-large">Niestety, nikt nie odpowiedział prawidłowo.</span>
        </p>
        <div class="w3-animate-top" id="winnersDiv">
            <span class="w3-large">Prawidłowo odpowiedzieli:</span>
            <div class="w3-panel w3-rightbar w3-leftbar">
                <ul class="w3-ul w3-card-4 w3-display-container w3-large">
                    <% for(let i = 0; i < players.length; i++){ %>
                    <li class="w3-large w3-display-container" id="winner<%= i %>"></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <script>
            document.getElementById('emptyWinners').style.display = 'none';
            document.getElementById('winnersDiv').style.display = 'none';
        </script>
        <p class="w3-large" id="redirect">Powrót do planszy nastąpi za <b style="color:red" id="redirectTime">10</b>
            sekund.</p>
        <script>document.getElementById("redirect").style.display = "none"</script>
    </div>
</div>
</body>
</html>